.Container {
    display: flex;
    
    align-items: center;
}

.yoda-form {
    position: absolute;
    right: 500px;
    top: 600px;
}


.yoda-form input {
    border-radius: 5px;
    outline: none;
}

.input-text {
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    width: 300px;
}

.input-button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(194, 192, 89);
    border: none;
    padding: 15px;
}

.result {
    border: black;
    position:absolute;
    top: 250px;
    left: 250px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
}

